@import 'tailwindcss';

*, html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 64px;
}

@keyframes bounceIN {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes bounceOUT {
  0% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Animation utilities */
@utility animate-bounce-in {
  animation: bounceIN 0.6s ease-out forwards;
}

@utility animate-bounce-out {
  animation: bounceOUT 0.6s ease-out forwards;
}